@model Ancla.Models.PSM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PSM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanRetentionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanRetentionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIonCurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIonCurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecursorCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecursorCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecursorMZ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecursorMZ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecursorMass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecursorMass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseSequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseSequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullSequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullSequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmbiguityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmbiguityLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeptideMonoisotopicMass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeptideMonoisotopicMass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteinAccession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteinAccession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteinName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteinName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganismName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganismName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartAndEndResidueInProtein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartAndEndResidueInProtein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PEPQvalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PEPQvalue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
